*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* .active {
  border-bottom: 2px solid red;
} */

.logoNameEffect {
  color: pink;
  text-shadow:
    0 0 5px pink,
    0 0 10px pink,
    0 0 20px pink,
    0 0 40px #bc13fe,
    0 0 80px #bc13fe,
    0 0 90px #bc13fe,
    0 0 100px #bc13fe,
    0 0 150px #bc13fe;
}

.pointer {
  cursor: pointer;
}

.header {
  background-color: #333333;
}

.zIndex1 {
  z-index: 1;
}

.zIndexn0 {
  z-index: 0;
}

.homeContainer {
  height: auto;
}

a {
  text-decoration: none;
  color: white;
}

.cardBody {
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 7px 0px rgba(255,255,255,0.75);
}

.cardImage {
  object-fit: contain;
}

.downloadBannerImg {
  object-fit: contain;
}

/* footer section */

.mainFooter {
  background-color: dimgrey;
  width: 100%;
}

/* footer social Icons */

.containerIcon
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btnSocialIcon
{
    width: 50px;
    height: 50px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2em;
    margin-right: 1em;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 10px;
}
i.fa
{
    font-size: 30px;
}

#fb
{
    color: #006fff;
    text-shadow: 0 0 30px #006fff;
}
#ig
{
    color: #ff5f40;
    text-shadow: 0 0 30px #ff5f40;
}
#tl
{
    color: #00acff;
    text-shadow: 0 0 30px #00acff;
}

.btn.fb-btn
{
    box-shadow: 0 20px 20px -17px rgba(0,111,255,0.53);
}
.btn.fb-btn:hover
{
    transform: scale(1.1);
    box-shadow: 0 0 45px 0 rgba(0,111,255,0.65);
}
.btn.ig-btn
{
    box-shadow: 0 20px 20px -17px rgba(255,16,39,0.5);
}

.btn.ig-btn:hover
{
    transform: scale(1.1);
    box-shadow: 0 0 45px 0 rgba(255,16,39,0.57);
}
.btn.tl-btn
{
    box-shadow: 0 20px 20px -17px rgba(0,255,255,0.53);
}
.btn.tl-btn:hover
{
    transform: scale(1.1);
    box-shadow: 0 0 45px 0 rgba(0,111,255,0.6);
}

/* Requirement form */

.footerInput {
  width: 150px;
  outline: none;
  border: none;
  transition: width 0.5s ease-in-out;
}

.footerInput:focus {
  outline: 2px solid green;
  width: 300px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btnFooterSubmit-btn {
  color: #fff;
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btnFooterSubmit {
  color: #21ebff;
  line-height: 40px;
  padding: 0;
  border: none;
}
.btnFooterSubmit span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btnFooterSubmit:before,
.btnFooterSubmit:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #21ebff;
  box-shadow: 0 0 5px #21ebff;
  transition: all 0.3s ease;
}
.btnFooterSubmit:before{
  height: 50%;
  width: 2px;
}
.btnFooterSubmit:after {
  width: 20%;
  height: 2px;
}
.btnFooterSubmit:hover:before {
  height: 100%;
}
.btnFooterSubmit:hover:after {
  width: 100%;
}
.btnFooterSubmit span:before,
.btnFooterSubmit span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #21ebff;
  box-shadow: 0 0 5px #21ebff;
  transition: all 0.3s ease;
}
.btnFooterSubmit span:before {
  width: 2px;
  height: 50%;
}
.btnFooterSubmit span:after {
  height: 2px;
  width: 20%;
}
.btnFooterSubmit span:hover:before {
  height: 100%;
}
.btnFooterSubmit span:hover:after {
  width: 100%;
}

.downloadPage {
  width: 100%;
  height: auto;
}

.mainDive {
  height: 100vh;
}

/* toup button */

.bg_to_up {
  background: linear-gradient(to right, #2BC0E4 0%, #EAECC6  51%, #2BC0E4  100%);
  position: fixed;
  bottom: 80px;
  font-size: 30px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.bg_to_up:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* pagination li */

.paginationUl {
  animation: pulsate 2.5s infinite alternate;
}

.pageList {
  list-style: none;
  cursor: pointer;
}

.pageList:hover {
  background-color: rebeccapurple;
  border-radius: 50px;
}

.activePageList {
  background-color: rebeccapurple;
  border-radius: 50px;
}

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;

  }
  0% {
    /* Smaller blur radius */
    text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #0fa,
      0 0 45px #0fa,
      0 0 55px #0fa,
      0 0 70px #0fa,
      0 0 80px #0fa;
      /* box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 1px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 2px #0fa, 0 0 2px #0fa, 0 0 51px #0fa; */

  }
}

/* search field and button */

.search-button {
  color: #fff;
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.search-button{
  color: #0bf4f3;
  position: relative;
  right: 20px;
  bottom: 20px;
  border:none;
  width: 130px;
  height: 40px;
  line-height: 40px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.search-button span {
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  border: 1px solid #0bf4f3;
  box-shadow: 0 0 5px #0bf4f3, 0 0 5px #0bf4f3 inset;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.search-button span:nth-child(1) {
  box-shadow: 0 0 5px #0bf4f3, 0 0 5px #0bf4f3 inset;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.search-button span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.search-button:hover span:nth-child(1) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.search-button:hover span:nth-child(2) {
  background: #000;
  color: #000;
  box-shadow: 0 0 5px #0bf4f3, 0 0 5px #0bf4f3 inset;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}


/* Download button */

.download-btn {
  color: #fff;
  width: 170px;
  height: 40px;
  padding: 10px 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.downloadBtn {
  border: 1px solid #fff;
  box-shadow: 0 0 5px #fff, 0 0 5px #fff inset;
}
.downloadBtn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
  -7px -7px 20px 0px #fff9,
  -4px -4px 5px 0px #fff9,
  7px 7px 20px 0px #0002,
  4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.downloadBtn:hover {
  box-shadow: rgba(255,255,255, 1) -1px -1px,  -2px -2px, rgba(255,255,255, 1) -3px -3px, rgba(255,255,255, .9) -4px -4px,
    rgba(255,255,255,.8) -5px -5px, rgba(255,255,255,.7) -6px -6px, rgba(255,255,255,.6) -7px -7px, rgba(255,255,255,.5) -8px -8px,
      rgba(255,255,255,.4) -9px -9px, rgba(255,255,255,.3) -10px -10px, rgba(255,255,255,.2) -11px -11px, rgba(255,255,255,.1) -12px -12px;
}
.downloadBtn:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.downloadBtn:active {
  top: 2px;
}